
@charset "utf-8";
/* ----------------------------------------------
	This style definition is initiarize.
------------------------------------------------- */

body , div , dl , dt , dd , ul , ol , li , h1 , h2 , h3 , h4 , h5 , h6 , pre , form , fieldset , input , textarea , p , blockquote , th , td { 
	margin: 0;
	padding: 0;}
body {
	color: #333;
	font-size: 75%;
	font-family: "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
	line-height: 150%;}
table {
	border-collapse: collapse;
	border-spacing: 0;}
fieldset , img { 
	border: 0;
	vertical-align: bottom;}
address , caption , cite , code , dfn , em , strong , th , var {
	font-style: normal;
	font-weight: normal;}
ol , ul {
	list-style: none;}
caption , th {
	text-align: left;}
h1 , h2 , h3 , h4 , h5 , h6 {
	font-size: 100%;
	font-weight: normal;}
q:before , q:after {
	content: '';}
abbr , acronym {
	border: 0;}
textarea {
	font-size: 100%;
	font-family: "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;}
	
/* ------------------------------------
   main style
 ----------------------------------- */ 

body{
    width: 960px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

a, a:visited {
	color:white;
	text-decoration:none;
}

a:hover, a:active {
	color:#000;
	text-decoration:none;
}

h2{
color: black;
text-align: center;
margin-top: 20px;
}

#contents h1{
font-size: 24px;
margin-top: 10px;
}

#contents p{
font-size: 16px;
margin-top: 12px;
}

#contents2 h1{
font-size: 24px;
margin-top: 10px;
}

#contents2 p{
font-size: 16px;
margin-top: 12px;
}
 
#esotriclogo{
    width: 400px;
    height: 60px;
    margin: 20px auto auto 10px;
    background-image: url(logo.jpg);
    display: block;
    text-indent:-9999px;
}   	


#navi{
position: absolute;
top: 50px;
right: 10px;
width: 500px;
color: white;
font-size: 22px;

}

#navi ul {
list-style-type: none;
text-align: center;
}

#navi li {
padding-left: 4px;
padding-left: 4px;
display: inline;
text-align: center;

}

#line{
width: 960px;
height: 2px;
margin-top: 10px;
background-color: white;
}

/*topimags*/

#topimg{
    width: 960px;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(topimg.jpg);
    display: block;
    text-indent:-9999px;
}   

#topimg2{
    width: 960px;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(topimg2.jpg);
    display: block;
    text-indent:-9999px;
}   

#topimg3{
    width: 960px;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(topimg3.jpg);
    display: block;
    text-indent:-9999px;
}   

#topimg4{
    width: 960px;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(topimg4.jpg);
    display: block;
    text-indent:-9999px;
}   

#topimg5{
    width: 960px;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(topimg5.jpg);
    display: block;
    text-indent:-9999px;
}   


#contents{
width: 300px;
height: 500px;;
color: white;
float: left;
margin: 20px 30px 10px 25px;
}

#contents2{
width: 300px;
height: 500px;
color: white;
float: left;
margin: 20px 30px 10px 25px;
}

#feed{
width: 250px;
float: right;
margin: -490px 25px 10px 30px;
}

#foot1{
width: 960px;
height: 2px;
background-color: white;
float:left;
margin-top: 140px;
margin-bottom: 0px;
}

#foot{
width: 960px;
height: 100px;
background-image: url(foot.jpg);
float:left;
margin-top: 5px;
margin-bottom: 0px;
}

#foot h2{
color: white;
}

#myspace{
margin-top: 20px;
background-image: url(myspace_banner.jpg);
width: 300px;
height: 300px;
float: left;
display: block;
text-indent:-9999px;
}

#youtube{
margin-top: 20px;
background-image: url(youtube_banner.jpg);
width: 300px;
height: 300px;
float: left;
display: block;
text-indent:-9999px;
}

#ofblog{
margin-top: 20px;
background-image: url(OfficialBlog_banner.jpg);
width: 300px;
height: 200px;
float: left;
display: block;
text-indent:-9999px;

}

#hattori{
margin-top: 20px;
margin-bottom: 20px;
background-image: url(HATTORI_blog.jpg);
width: 300px;
height: 100px;
float: left;
display: block;
text-indent:-9999px;
}

#yamada{
margin-top: 20px;
margin-bottom: 20px;
background-image: url(YAMADA_blog.jpg);
width: 300px;
height: 100px;
float: left;
display: block;
text-indent:-9999px;
}

#nisimoto{
margin-top: 20px;
margin-bottom: 20px;
background-image: url(NISIMOTO_blog.jpg);
width: 300px;
height: 100px;
float: left;
display: block;
text-indent:-9999px;
}

#anaru{
margin-top: 70px;
}

#google{
width: 500px;
height: 200px;
float: left;
margin-top: 0px;
position: absolute;
bottom: -600px;
}
